Color Pallete {
  color: #2b2525;
  color: #f2e5cb;
  color: #ff5845; }

html {
  background: #f2e5cb; }

body {
  background-color: #f2e5cb;
  color: #ff5845; }

.demo-card-wide.mdl-card {
  width: 512px; }

.demo-card-wide > .mdl-card__title {
  color: #f2e5cb;
  height: 176px; }

.demo-card-wide > .mdl-card__menu {
  color: #f2e5cb; }

.mdl-cell p {
  text-align: center; }

.mdl-cell img {
  display: block;
  margin: auto; }

.mdl-mega-footer {
  background-color: #2b2525; }

.mdl-layout__header {
  color: #ff5845; }

.mdl-navigation__link {
  color: #ff5845 !important; }

.mdl-layout__drawer-button {
  color: #ff5845; }

#logo {
  margin-top: -5px; }

.list-item {
  width: 300px; }

.mdl-layout__content {
  padding: 16px 40px; }

.mdl-layout__header--transparent.mdl-layout__header--transparent {
  background-color: white; }

#box-right {
  float: right;
  position: relative;
  text-align: center;
  margin-top: -100px; }
  #box-right #foto {
    -webkit-filter: drop-shadow(3px 3px 4px rgba(0, 0, 0, 0.3)); }
  #box-right p {
    line-height: 8px; }

#web-design {
  background-color: #ff5845;
  width: 100%;
  height: auto;
  padding: 60px 0; }

#desenvolvimento {
  background-color: #f2e5cb;
  width: 100%;
  height: auto;
  padding: 60px 0; }

.images-home {
  width: initial !important;
  height: initial !important; }

.hr {
  margin-bottom: 40px;
  width: 150px;
  border-bottom: 5px solid #ff5845; }

.texto-cv p {
  font-family: sans-serif;
  font-size: 14px;
  font-weight: lighter;
  margin: 10px 0; }

.texto-cv .title {
  color: #2b2525;
  font-weight: bold;
  font-size: 18px; }

.texto-cv i {
  color: #ff5845;
  font-size: 20px;
  margin-right: 12px; }

.mdl-mega-footer {
  background-image: url("/cdn/assets/img/tweed.png");
  background-blend-mode: overlay; }

.cv {
  background-image: url("/cdn/assets/img/papper.png");
  background-blend-mode: overlay; }

hr {
  border-top: 1px solid #ff5845; }
