Color Pallete {
  color: #2b2525;
  color: #f2e5cb;
  color: #ff5845;
}

html {
  background: #f2e5cb;
}
body, {
  background-color: #f2e5cb;
  color: #ff5845;
}
.mdl-layout__header {
  background-color: #fff;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1), 0 3px 1px -2px rgba(0, 0, 0, 0.1), 0 1px 5px 0 rgba(0, 0, 0, 0.1);
}
.mdl-layout__header-row {
  padding: 0 40px;
}
.mdl-cell p {
  text-align: center;
}
.mdl-cell img {
  display: block;
  margin: auto;
}
.mdl-mini-footer {
  background-color: #2b2525;
}
.mdl-layout__header {
  color: #ff5845;
}
.mdl-navigation__link {
  color: #ff5845!important;
}
.mdl-layout__drawer-button {
  color: #ff5845;
}
#logo {

}
.list-item {
  width: 300px;
}
.mdl-layout__content {
  padding: 16px 40px;
}
.mdl-layout__header--transparent.mdl-layout__header--transparent {
  background-color: white;
}
#box-left {
  float: left;
  margin: 5% 2%;
  position: fixed;
  text-align: center;
  #foto {
    -webkit-filter: drop-shadow(3px 3px 4px rgba(0, 0, 0, 0.3));
  }
  p {
    line-height: 8px;
  }
}
#box-right {
  float: right;
  width: 78%;
}
#web-design {
  background-color: #ff5845;
  width: 100%;
  height: auto;
  padding: 60px 0;
}
#desenvolvimento {
  background-color: #f2e5cb;;
  width: 100%;
  height: auto;
  padding: 60px 0;
}
.images-home {
  width:initial!important;
  height:initial!important;
}
.hr {
  width: 150px;
  height: 5px;
  margin-bottom: 50px;
  background: #ff5845;
}
.texto-cv {
  p {
    font-family: sans-serif;
    font-size: 14px;
    font-weight: lighter;
    margin: 10px 0;
  }
  .title {
    color: #2b2525;
    font-weight: bold;
    font-size: 18px;
  }
  i {
    color: #ff5845;
    font-size: 20px;
    margin-right: 12px;
  }
}
.mdl-mini-footer {
  background-image: url("/cdn/assets/img/tweed.png");
  background-blend-mode: overlay;
}
.cv {
  background-image: url("/cdn/assets/img/papper.png");
  background-blend-mode: overlay;
}
hr {
  border-top: 1px solid #ff5845;
}
#100 {
  width:100%;
  height: 100%;
}
.mdl-mini-footer {
  padding: 30px 40px;
}
.mdl-tabs__panel {
  padding: 16px 40px;
}
.mdl-tabs__tab-bar {
  border-bottom: initial;
  border-bottom: initial;
  width: 330px;
  position: absolute;
  right: 40px;
  top: 1.72%;
}
.mdl-tabs.is-upgraded .mdl-tabs__tab.is-active:after {
  background: #ff5845;  
}
.mdl-layout {
  display: block;
  position: initial;
}